@font-face {
  font-family: "sansBold";
  src: url("../public//fonts/sans/IRANSans_Bold.ttf");
}
@font-face {
  font-family: "sans";
  src: url("../public//fonts/sans/IRANSans.ttf");
}
@font-face {
  font-family: "sansMedium";
  src: url("../public//fonts/sans/IRANSans_Medium.ttf");
}
@font-face {
  font-family: "sansBlack";
  src: url("../public//fonts/sans/IRANSans_Black.ttf");
}
@font-face {
  font-family: "sansLight";
  src: url("../public//fonts/sans/IRANSans_Light.ttf");
}
@font-face {
  font-family: "sansUltraLight";
  src: url("../public//fonts/sans/IRANSans_UltraLight.ttf");
}
@font-face {
  font-family: "yekan";
  src: url("../public//fonts/IRANYekanBold.ttf");
}





*{
  -webkit-tap-highlight-color:transparent
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "sansBold" !important;
  height: 100vh !important;
}
body{
  direction: rtl;

}





@import url("./common.css");

@import url("./auth.css");