.container_slider > div > div > div {
  border-radius: 15px;
  overflow: hidden;
}

.slide {
  height: 80vh;
  background-color: black;
}
@media all and (max-width: 768px) {
  .slick-slide,
  .slide {
    height: 100vh;
    width: 100vw !important;
  }
}
.slide img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  margin: auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 30%;
  top: 50%;
}

.prev {
  left: 30%;
  top: 50%;
}

@media all and (max-width: 768px) {
  .next {
    right: 12px;
  }
  .prev {
    left: 12px;
  }
}
